<!DOCTYPE html>
<html>
<%- include('../layouts/header') %>  
<body>
	<%- include('../layouts/nav') %>  
	<section>
		<div class="container">
			<%- include(path) %>  
		</div>
	</section>
</body>
</html>