<div class="jumbotron">
	<h4>Chọn chức năng bạn muốn sử dụng: </h4> 
	<a href="/user/danh-sach-tu"><div class="well pointer">Danh sách từ</div></a>
	<a href="/user/danh-sach-tu"><div class="well pointer">Từ của bạn bè</div></a>
	<a href="/user/luyen-anh-viet"><div class="well pointer">Luyện từ tiếng anh sang việt</div></a>
	<a href="/user/luyen-viet-anh"><div class="well pointer">Luyện từ tiếng việt sang anh</div></a>
</div>