<div class="row text-center">
	<a href="/user/them-tu" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Thêm từ</a>
</div>
<table id="example" class="table table-bordered table-hover" style="width:100%">
  <thead>
      <tr>
          <th>Từ TA</th>
          <th>Từ TV</th>
          <th>Hình ảnh</th>
          <th>Trang thái</th>
          <th>Người sở hữu</th>
          <th>Thao tác</th>
      </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < data.length; i++){ %>
      <tr>
          <td><%- data[i].english_word %></td>
          <td><%- data[i].vietnam_word %></td>
          <% if(data[i].img == ''){ %>
          <td><img src="/static/images/systems/no_image.png" with="60" height="60"/></td>
          <% }else {%>
          <td><img src="/static/images/words/<%- data[i].img %>" with="60" height="60"/></td>
          <% }%>
          <% if(data[i].status == 0){ %>
          <td style="color: red; font-weight: bold">Ân</td>
          <% }else {%>
          <td>Hiện</td>
          <% }%>
          <td>Duy Long</td>
          <td class="action">
            <a href="/user/sua-tu?id=<%- data[i].id %>"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#"><span class="glyphicon glyphicon-trash" style="color: red"></span></a>
          </td>
      </tr>
    <%}%>
  </tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable();
	});
</script>